doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="icon", sizes="16x16 32x32", href="../favicon.ico?v=2")
    title JSDC 2015
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css")
    //- MailChimp sign up form style
    link(href="//cdn-images.mailchimp.com/embedcode/classic-081711.css", rel="stylesheet", type="text/css")
    //- Font Awesome
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../stylesheets/style.css")

    // Open Graph data
    meta(property="og:title", content="JSDC 2015")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://2015.jsdc.tw")
    meta(property="og:image", content="http://2015.jsdc.tw/images/og.png")
    meta(property="og:description", content="This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.")
    meta(property="og:site_name", content="JSDC 2015")

  body
    #main
      header
        ul.languages
          li
            a(href="/zh_tw") 中文
      section.landing.cd-intro
        .nav-btn
          button(type="button")
            span.icon-line
            span.icon-line
            span.icon-line
        .video
          video#bg-video(autoplay="", muted="", loop="")
            source(type="video/mp4", src="../video/background.mp4")
        //- iframe.video(width="100%", src="https://www.youtube.com/embed/fFvj1NELjOQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=fFvj1NELjOQ", frameborder="0", allowfullscreen="")
        .background-container
          .logo
            img(src="../images/logo.png", alt="JSDC")
          span.coming Coming soon at Oct 3 and Oct 4
          span HSS Bldg. of Academia Sinica
          h1.tagline.cd-headline.letters.type
            span Build
            span.cd-words-wrapper.waiting
              b.is-visible Anything
              b Website
              b Webapp
              b Mobile App
              b Arduino
              b Raspberry Pi
              b Robot
            span  with JavaScript
          .activity
            a.reserve(href="http://jsdc-tw.kktix.cc/events/jsdc2015?locale=en", target="kktix")
              | Reserve Now
          //- .arrow.bounce
          svg#svg(x="0px", y="0px", viewBox="0 0 62 74", style="enable-background:new 0 0 58.2 72;", xml:space="preserve")
            style(type="text/css").
              .st0{fill:none;stroke:#ffffff;stroke-miterlimit:10;}
            polyline#first-arrow.st0(points="60.2,2 31.1,31.1 2,2 ")
            polyline#second-arrow.st0(points="60.2,22.4 31.1,51.5 2,22.4 ")
            polyline#third-arrow.st0(points="60.2,42.9 31.1,72 2,42.9 ")
        //- Navigation bar on landing page
        nav#nav-main
          .block.grey
          .block.red
            ul
              li
                a.nav-news News
          .block.green
            ul
              li
                a.nav-schedule(href="/en/schedule.html") Schedule
              li
                a.nav-location Location
          .block.blue
            ul
              li
                a.nav-speakers Featured Speakers
              li
                a.nav-partners Partners
              li
                a.nav-staff Team
      section.news
        .title
          h1 News
        .container
          .news-slick
            each post in news
              a.post(href=post.link, target="_blank")
                h2.title= post.title
                span.author= 'By ' + post.author + ' at ' + post.createdAt
                p.description= post.description
      section.intro
        .container-box
          h1.title
            | What's JSDC
          .divider
          p.info
            | This year, JSDC is breaking the barriers by integrating the technical power from
            | independent developers, enterprises, framewords, architectures, and practices.
            | We aim to make the knowledge globally interchangeable, while makeing all attendees
            | reimagine JavaScript within and beyond the dogma. Our new thinking will be a catalyst
            | for further improvement of the architectures, fortification of the teams, and optimization
            | of the development process.
          .activity
            a.typeform-share.link.speaker(href="https://jsdc2015.typeform.com/to/JIc9v2", data-mode="1", target="_blank")
              | BE A SPEAKER
            a.typeform-share.link.sponsor(href="https://jsdc2015.typeform.com/to/dgmSSy", data-mode="1", target="_blank")
              | BE A SPONSOR
            //- a.link.agenda(href="/en/schedule.html")
              | SEE AGENDA FOR TALKS
            a.typeform-share.link.contact(href="https://jsdc2015.typeform.com/to/Z3xnIk", data-mode="1", target="_blank")
              | CONTACT US
          .share-buttons
            .fb-share-button(data-href="http://2015.jsdc.tw/en/", data-layout="button_count")
      section#speakers.speakers
        .title
          h1 Featured Speakers
        .container-fluid
          each speaker in speakers
            .speaker
              .avatar
                //- img(src=speaker.img.length ? speaker.img : '/images/no-avatar.jpg', alt=speaker.name)
                img(data-layzr=speaker.img.length ? speaker.img : '/images/no-avatar.jpg', alt=speaker.name)
              .introduction
                h4.name= speaker.name
                span.project
                  a(href=speaker.projectGithub, target="_blank")= speaker.project
                  |  contributor
                .links
                  if speaker.web.length
                    a.web.link-item(href=speaker.web, target="_blank")
                      i.fa.fa-link.fa-3x
                  if speaker.projectGithub
                    a.github.link-item(href=speaker.github, target="_blank")
                      i.fa.fa-github.fa-3x
        .links
          a.link(href="/en/schedule.html") SEE AGENDA FOR TALKS
      section#location.location
        .title
          h1 Location
        .content
          p.address HSS Bldg. of Academia Sinica - 128, Sec. 2, Academia Rd., Nangang Dist., Taipei City 115, Taiwan
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7775685346055!2d121.61311881639412!3d25.04162156122398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab4501e8c151%3A0x2f2b63fe4251d55c!2sAcademia+Sinica!5e0!3m2!1sen!2stw!4v1432454564591&z=9", width="100%" height="300", frameborder="0", style="border:0;")
      section#partners.partners
        .title
          h1 Partners
        .container-fluid
          section.helpers
            h3 Sponsors
            //- a.js-sponsor.sponsor.line.break(href="http://line.me/zh-hant/")
            .js-sponsor.sponsor.line.break
              a(href="#line")
                img(src="../images/LINE.png", alt="LINE")
              .info#line
                a.partner-link(href="http://line.me/zh-hant/")
                  img(src="../images/link.png", alt="link")
                h3 LINE
                p LINE Corporation is based in Japan. It was renamed from NHN Japan Corporation on April 1, 2013, and operates the LINE, NAVER matome, and livedoor web service businesses. Since launching LINE in June 2011, LINE Corporation has placed the core of its business upon the service and actively pushed for the further expansion of the service on a global scale, as well as accelerating the development of LINE as a platform.
            //- a.js-sponsor.sponsor.microsoft.break(href="http://www.microsoft.com/zh-tw")
            .js-sponsor.sponsor.microsoft.break
              a(href="#Microsoft")
                img(src="../images/microsoft.jpg", alt="Microsoft")
              .info#Microsoft
                a.partner-link(href="http://www.microsoft.com/zh-tw")
                  img(src="../images/link.png", alt="link")
                h3 Azure Microsoft
                p Azure微軟公司所提供之國際級雲端平台，全球設有13個大型資料中心，總投資金額超過 150億美金, 服務遍及140個國家以及支援10種語言. IaaS 部分支援 Linux 及Windows 作業系統，PaaS 部分支援 ASP.NET, PHP, Java, Node.js, Python等，資料庫部分支援Microsoft SQL Server, Oracle 與 MySQL，是一開放之雲端平台，核心服務通過ISO 27007,PCI DSS,HIPAA,SOC 1,SOC 2,FedRAMP,UK G-Cloud 等多項國際資安認證，提供 99.9 至 99.95 不停機服務水準保證之穩固服務。
            //- a.js-sponsor.sponsor.trendmicro.break(href="http://www.trendmicro.tw/tw/index.html")
            .js-sponsor.sponsor.trendmicro.break
              a(href="#Trend")
                img(src="../images/trendmicro.png", alt="Trend Micro")
              .info#Trend
                a.partner-link(href="http://www.trendmicro.tw/tw/index.html")
                  img(src="../images/link.png", alt="link")
                h3 Trend Micro
                p 願景：打造一個交換數位資訊零風險的世界
                p 宗旨：開發、提供、並支援最靈活且自訂功能最強的網際網路安全解決方案，來對付網路上千變萬化的安全威脅。

            //- a.js-sponsor.sponsor.sponsor-sub.unizyx(href="http://www.unizyx.com.tw/")
            .js-sponsor.sponsor.sponsor-sub.unizyx
              a(href="#Unizyx")
                img(src="../images/unizyx.png", alt="Unizyx")
              .info#Unizyx
                a.partner-link(href="http://www.unizyx.com.tw/")
                  img(src="../images/link.png", alt="link")
                h3 Unizyx
                p The Unizyx Holding Corporation began operations on August 16, 2010 in Shin-chu Taiwan, as it was set up to reorganize from ZyXEL Communications which is founded in 1989 by Dr. Shun-I Chu . Unizyx has ZyXEL Communications and MitraStar Technology as its subsidiaries is listed in the Taiwan Stock Exchange (TSE) under ticker number 3704 replacing ZyXEL Communications. Unizyx Group offer complete networking solutions of Telco, SME and digital Home for a wide range of deployment scenarios.
            //- a.js-sponsor.sponsor.sponsor-sub.zyxel(href="http://www.zyxel.com/tw/zh/")
            .js-sponsor.sponsor.sponsor-sub.zyxel
              a(href="#ZyXEL")
                img(src="../images/zyxel.png", alt="ZyXEL")
              .info#ZyXEL
                a.partner-link(href="http://www.zyxel.com/tw/zh/")
                  img(src="../images/link.png", alt="link")
                h3 ZyXEL
                p We take a humanistic perspective in the development of our products and services: it’s not just the device but the heart with commitment that goes into it. Our products reflect our understanding that technology is only as good as it is useful to the people using it. Will it help people communicate more effectively? Will it help to improve their lives? These are questions well worth asking. That’s why in designing every ZyXEL product, we carefully consider its practicality, value, interoperability with current and future technology standards and systems, and ability to improve our customers’ lives through its application.
            //- a.js-sponsor.sponsor.sponsor-sub.webduino(href="https://webduino.io/")
            .js-sponsor.sponsor.sponsor-sub.webduino
              a(href="#webduino")
                img(src="../images/webduino.png", alt="Webduino")
              .info#webduino
                a.partner-link(href="https://webduino.io/")
                  img(src="../images/link.png", alt="link")
                h3 WEBDUINO
                p Webduino 有別於傳統要寫C 或C++ 才能控制Arduino 的傳感器，Webduino 利用了WebComponents 的方法，讓使用者可以在完全不用接觸C 或C++ 的情形下，只需要撰寫簡單的網頁程式( ... 開發的門檻，讓創造力不受技術門檻的拘束，利用各式各樣形形色色的傳感器，創造與眾不同的物聯網應用。
            //- a.js-sponsor.sponsor.sponsor-sub.friDay(href="http://shopping.friday.tw/")
            .js-sponsor.sponsor.sponsor-sub.friDay
              a(href="#friDay")
                img(src="../images/friDay.png", alt="friDay")
              .info#friDay
                a.partner-link(href="http://shopping.friday.tw/")
                  img(src="../images/link.png", alt="link")
                h3 friDay
                p 【friday.tw購物五大特色功能】
                p  ★ 全國首創的集點購物趣 ★
                p    甚麼?! 購物還可以集點換商品! 遊戲化的回饋點數活動全面兌換中~
                p  ★ 最懂商品的達人駐站 ★
                p    來自各領域最強達人在這裡!! 用影音、用文章，來教你買、搭、用、穿好東西!
                p  ★ 踏遍台灣買不到的好商品 ★
                p     選品團隊上山下海深入國內外，精選出特色商品，讓你好好逛~
                p  ★ 永遠意想不到的好價格 ★
                p    超值優惠天天有，價格好好買！價與值，無須選擇！
                p  ★ 縮短商品與你的距離 ★
                p    手機購物不迷路! 推出商品語音搜尋與浮動環快捷鍵選單，貼心設計，手滑就買! 隨時隨地，隨心所欲!
          section.partners
            h3 Our Partners
            //- a.js-sponsor.partner.partner-sub.kkbox(href="https://www.kkbox.com/tw/tc/index.html")
            .js-sponsor.partner.partner-sub.kkbox
              a(href="#kkbox")
                img(src="../images/kkbox.png", alt="KKBOX")
              .info#kkbox
                a.partner-link(href="https://www.kkbox.com/tw/tc/index.html")
                  img(src="../images/link.png", alt="link")
                h3 KKBOX
                p KKBOX, Asia's leading music streaming service, was established in 2004 by a group of Taiwanese software programmers with a shared passion for technology and music. With the support from more than 500 international major and local independent music labels, KKBOX features 20 million legal tracks, including the most comprehensive Asia-Pop music library, and is currently available in Taiwan, Hong Kong, Japan, Singapore, Malaysia and Thailand with over 10 million users.
            //- a.js-sponsor.partner.partner-sub.ithome(href="http://www.ithome.com.tw/")
            .js-sponsor.partner.partner-sub.ithome
              a(href="http://www.ithome.com.tw/")
                img(src="../images/ithome.png", alt="iThome")
              //- .info#iThome
                h3 iThome
                p
          section.specials
            h3 Special Thank
            .js-sponsor.partner.partner-sub
              a(href="https://kktix.com/")
                img(src="../images/KKTIX.png", alt="KKTIX")
              //- .info
                h3 KKTIX
                a.partner-link(href="http://line.me/zh-hant/")
                  img(src="../images/link.png", alt="link")
                //- p
            .js-sponsor.partner.partner-sub
              a(href="http://www.openfoundry.org/of/")
                img(src="../images/openfoundry.png", alt="openfoundry")
              //- .info
                h3 openfoundry
                a.partner-link(href="http://line.me/zh-hant/")
                  img(src="../images/link.png", alt="link")
                //- p
      section#campaign.campaign
        .title
          h1 Campaign
        .container
          .reward
            .image
              img(src="../images/t-shirt.jpg", alt="T-Shirt")
            .description
              h2 JSDC T-Shirt
              p
                | 「Build anything with javascript」是JSDC2015的主題， 而「建構」就是此次主視覺的圖像核心，
                | 具像與抽象的物件交錯，表達程式語言的無限可能，而中間的積木形，即是活動名稱JSDC字母的轉化，
                | 它能夠組成亦能拆解，收放自如間建造世界。
              //- a.link(href="http://jsdc-tw.kktix.cc/events/jsdc2015t?locale=en", target="kktix") Get the T-Shirt
      section#staff.staff
        .title
          h1 Team
        .container-fluid
          each staff in en.staff.members
            .person
              .avatar
                //- img(src=staff.img.length ? staff.img : '/images/no-avatar.jpg', alt=staff.name)
                img(data-layzr=staff.img.length ? staff.img : '/images/no-avatar.jpg', alt=staff.name)
              .introduction
                h4= staff.name
                span= staff.position
      footer
        .container
          // Begin MailChimp Signup Form
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="//github.us8.list-manage.com/subscribe/post?u=e158304d0affdf640565a3e33&amp;id=914d8a037f", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
              #mc_embed_signup_scroll
                h2 Sign up to our newsletter
                .mc-field-group
                  //- label(for="mce-EMAIL") Email Address
                  input#mce-EMAIL.email.required(type="email", value="", name="EMAIL", placeholder="Email Address")
                  input#mc-embedded-subscribe.button(type="submit", value="Subscribe", name="subscribe")
                #mce-responses.clear
                  #mce-error-response.response(style="display:none")
                  #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style="position: absolute; left: -5000px;")
                  input(type="text", name="b_e158304d0affdf640565a3e33_914d8a037f", tabindex="-1", value="")
                //- .clear
          // End mc_embed_signup
          button#elevator-btn(type="button")
            span.glyphicon.glyphicon-eject
            | Back To Top
          p
            | ©2015
            a(href="http://jsdc.tw") JSDC.tw

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/layzr.js/1.4.3/layzr.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js")
    script(src="/scripts/elevator.min.js")
    script(src="../scripts/index.js")
    script.
      var qs, js, q, s, d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = 'typef_orm',
        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
      if (!gi.call(d, id)) {
        js = ce.call(d, 'script');
        js.id = id;
        js.src = b + 'share.js';
        q = gt.call(d, 'script')[0];
        q.parentNode.insertBefore(js, q)
      }
      id = id + '_';
      if (!gi.call(d, id)) {
        qs = ce.call(d, 'link');
        qs.rel = 'stylesheet';
        qs.id = id;
        qs.href = b + 'share-button.css';
        s = gt.call(d, 'head')[0];
        s.appendChild(qs, s)
      }
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=715893795173476";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19752144-3', 'auto');
      ga('send', 'pageview', {
        page: '/en',
        title: 'JSDC 2015 | English'
      });
